{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}
{% load static %}
<!-- <html zlang="en"> -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Address Migration</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style>
        body{
            margin: 0;
            font-family: var(--bs-font-sans-serif);
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #212529;
            background-color: #fff;
            -webkit-text-size-adjust: 100%;
            -webkit-tap-highlight-color: transparent;
        }
        .todo_check{
            float: right
        }
        .float_right{
            float: right
        }
        #app{
            position: relative
        }
        .container{
            position: relative;
            top: 20%;
        }
        .row {
            margin-bottom: 10px;
        }
    </style>
    
</head>
<body id="app">
    {% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signup my-5">
                    <div class="card-body">
                        <h5 class="card-title text-center">Sign Up</h5>
                        <form class="form-signup" method="post" action="{% url 'signup' %}">
                            {% csrf_token %}
                            <div class="form-label-group">
                                <input type="text" id="user_id" class="form-control" name="user_id" placeholder="ID" required>
                                <div class="invalid-feedback">
                                </div>
                                <label for="user_id">ID</label>
                            </div>

                            <div class="form-label-group">
                                <input type="password" id="user_password" class="form-control" name="user_password" placeholder="Password" required>
                                <div class="invalid-feedback">
                                </div>
                                <label for="user_password">Password</label>
                            </div>
                            <div class="form-label-group">
                                <input type="password" id="re_user_password" class="form-control" placeholder="Confirm Password" required>
                                <div class="invalid-feedback">
                                </div>
                                <label for="re_user_password">Confirm Password</label>
                            </div>
                            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" id="signup">Sign Up</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    {% endblock %}
</body>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="//d1p7wdleee1q2z.cloudfront.net/post/search.min.js"></script>
<script type="text/javascript">
    $(function() {
        $("#signup").click(function (){
            var htmlStr = ""
            var user_id_obj= $("#user_id")
            var user_id = user_id_obj.val()
            var regType1 = /^[A-Za-z0-9+]*$/;
            if (user_id.length < 5){
                InvalidInput(user_id_obj, '아이디는 5자 이상이여야 합니다.')
                return 
            } else if(!regType1.test(user_id)){
                InvalidInput(user_id_obj, '아이디는 영문 숫자만 가능 합니다.')
                return
            }else {
                ValidInput(user_id_obj)
            }
            var user_password_obj= $("#user_password")
            var user_password = user_password_obj.val()
            if (user_password.length < 5){
                InvalidInput(user_password_obj, '비밀번호는 5자 이상이여야 합니다.')
                return 
            } else {
                ValidInput(user_password_obj)
            }
            var re_user_password_obj= $("#re_user_password")
            var re_user_password = re_user_password_obj.val()
            if (user_password != re_user_password) {
                InvalidInput(re_user_password_obj, '비밀번호가 다릅니다.')
            } else {
                ValidInput(re_user_password_obj)
            }

            $('.form-signup').submit()
        })
    })
    function InvalidInput(obj, msg){
        obj.removeClass('is-valid')
        obj.addClass('is-invalid')
        obj.next().text(msg)
    }
    function ValidInput(obj){
        obj.addClass('is-valid')
        obj.removeClass('is-invalid')
    }
</script>
</html>


