{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}
{% load static %}
<!-- <html zlang="en"> -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Address Migration</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/notify.min.css' %}">
    <style>
        body{
            margin: 0;
            font-family: var(--bs-font-sans-serif);
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #212529;
            background-color: #fff;
            -webkit-text-size-adjust: 100%;
            -webkit-tap-highlight-color: transparent;
        }
        .todo_check{
            float: right
        }
        .float_right{
            float: right
        }
        #app{
            position: relative
        }
        .container{
            position: relative;
            top: 20%;
        }
        .row {
            margin-bottom: 10px;
        }
        .text-vertical-center {
            display: flex;
            align-items: center;
        }
        .navbar-expand-lg .navbar-nav {
            flex-direction: row;
        }
        .navbar-expand-lg .navbar-nav .nav-link {
            padding-right: 0.5rem;
            padding-left: 0.5rem;
        }
        .nav-link{
            color: white;
            font-weight: bold;
        }
        .navbar-nav .nav-item + .nav-item {
            margin-left: 1rem;
            color: #fff;
        }
    </style>
    
</head>
<body id="app">
    {% block content %}
    <div class="container">
        <div class="col-sm-14 col-md-10 col-lg-10 mx-auto">
            <nav class="navbar navbar-expand-lg navbar-dark" id="auth-area">
                {% comment %} <div class="navbar-collapse collapse"> {% endcomment %}
                    <ul class="navbar-nav align-items-center mr-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="{% url 'signin_page' %}">sign in</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="{% url 'signup_page' %}">sign up</a>
                        </li>
                    </ul>
                {% comment %} </div> {% endcomment %}
            </nav>
        </div>
    </div>
    <div class="container">
        <div class="col-sm-14 col-md-10 col-lg-10 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <div class="form-row">
                        <form id="my_address">
                            <label for="exampleInputEmail1">주소</label>
                            <div class="input-group mb-3 ">
                                <input type="text" name="postcode" id="postcode" class="form-control postcodify_postcode5" value="{% firstof user_info.postcode '' %}" />
                                <button class="btn btn-primary form-control" id="postcodify_search_button" onclick="return false;">검색</button>
                            </div>
                            
                            <div class="input-group mb-3">
                                <input type="text" id="address" name="address" class="form-control postcodify_address" value="{% firstof user_info.address '' %}" /><br />
                            </div>
                            <div class="input-group mb-3">
                                <input type="text" id="address_detail" name="address_detail" class="form-control postcodify_details" value="{% firstof user_info.address_detail '' %}" /><br />
                            </div>

                            {% comment %} <label for="inputPassword3">전화번호</label> {% endcomment %}
                            <div class="row">
                                <div class="col">
                                    <label for="inputPassword3">수취인</label>
                                    <div class="input-group mb-3 row">
                                        <div class="col">
                                            <input type="text" class="form-control" name="recipient" id="recipient"  value="{% firstof user_info.recipient '' %}">
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <label for="inputPassword3">수신지(선택)</label>
                                    <div class="input-group mb-3 row">
                                        <div class="col">
                                            <input type="text" class="form-control" name="shipping_address" id="shipping_address" value="{% firstof user_info.shipping_address '' %}">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <label for="inputPassword3">전화번호</label>    
                                    <div class="input-group mb-3 row">
                                        <div class="col">
                                            <input type="text" class="form-control" name="phone_number_head" id="phone_number_head" value="{% firstof user_info.phone_number_head '' %}">
                                        </div>
                                        <span class="text-vertical-center">-</span>
                                        <div class="col">
                                            <input type="text" class="form-control" name="phone_number_middle" id="phone_number_middle" value="{% firstof user_info.phone_number_middle '' %}">
                                        </div>
                                        <span class="text-vertical-center">-</span>
                                        <div class="col">
                                            <input type="text" class="form-control" name="phone_number_tail" id="phone_number_tail" value="{% firstof user_info.phone_number_tail '' %}">
                                        </div>
                                    </div>
                                </div>  
                            </div>
                            {% if user_info %}
                            <div>
                                <button type="button" class="btn btn-primary btn-block" id="address_save">주소 저장</button>
                            </div>
                            {% endif %}
                        </form>
                        {% comment %} <input type="text" name="" id="extra_info" class="postcodify_details" value="" /><br /> {% endcomment %}
                        <div class="row">
                            <div    class="col input-group mb-3">
                                <button class="btn btn-primary form-control" id="add_vendor"> + 계정 추가 </button>
                            </div> 
                        </div>
                    </div>
                    <div id="vendor_area">
                        
                    </div>
                    {% if user_info %}
                    <div>
                        <button type="button" class="btn btn-primary btn-block" id="account_save">계정 저장</button>
                    </div>
                    {% endif %}
        		</div>
        	</div>
        </div>
    </div>
    {% endblock %}
</body>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="//d1p7wdleee1q2z.cloudfront.net/post/search.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script type ="text/javascript" src="{% static 'js/cookies.js' %}"> </script>
<script type ="text/javascript" src="{% static 'js/notify.min.js' %}"> </script>
<script type="text/javascript">
    {% comment %} var socket = null {% endcomment %}
    function websoket(){
        if ('WebSocket' in window) {
            var socket = new WebSocket('ws://' + window.location.host + '/ws/vendor/')

            socket.onopen = function(msg){
            };
            socket.onclose = function(msg){
            };         
            socket.onerror = function(msg){
                console.log(msg)
            };
            socket.onmessage = function(e) {
                var data = JSON.parse(e.data);
                var message = data['message'];
                var status = data['status'];
                var index = data['index']
                //document.querySelector('#chat-log').value += (message + '\n');
                console.log(message + ' , ' + status)
                var text_obj = $(".tracking").eq(index).children("span")
                if (status) {
                    text_obj.removeClass('text-danger')
                    text_obj.addClass('text-primary')
                } else {
                    text_obj.removeClass('text-primary')
                    text_obj.addClass('text-danger')
                }
                text_obj.text(message)
            };

            
            // 웹소켓이 연결되었을때
            /*socket.onopen = function () {
                for (var i = 0; i < 10; i++) {
                    socket.send('Hello ' + i);
                }
            };*/
            return socket
        } else {
            console.log('웹소켓 없음')
        }        
    }
    function parseJwt (token) {
        var base64Url = token.split('.')[1];
        var base64 = base64Url.replace(/-/g, '+').replace(/_/g, '/');
        var jsonPayload = decodeURIComponent(atob(base64).split('').map(function(c) {
            return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
        }).join(''));

        return JSON.parse(jsonPayload);
    };
    function init(){
        var userToken = getCookie('user_token')
        var token_delete = '{{token_delete}}'
        if (token_delete == 'Y') {
            deleteCookie('user_token')
            userToken = null
        }
        
        if (userToken != null) {
            var decodedToken = parseJwt(userToken)
            authStr = ''
            authStr += '<ul class="navbar-nav align-items-center mr-0">'
            authStr += '    <li class="nav-item dropdown">'
            authStr += '        <a class="nav-link" href="{% url "userinfo_page" %}">' +decodedToken.user_id+' <small>님 환영합니다. </small></a>'
            authStr += '    </li>'
            authStr += '    <li class="nav-item dropdown">'
            authStr += '        <a class="nav-link" href="javascript:signOut()">sign out</a>'
            authStr += '    </li>'
            authStr += '</ul>'
            $("#auth-area").html(authStr)
        }

    }
    function socketDisconnect1(){
        setTimeout(function() {
                console.log('21f12')
                return 'aaaa'
        }, 3000);
    }
    function socketDisconnect(){
        console.log(socketDisconnect1())
        console.log('sdsdf')
        {% comment %} socket.close() {% endcomment %}
    }
    function signOut(){
        deleteCookie('user_token')
        location.href = '/'
    }
    $(function() {
        init()
        initVendorRequest()

        $("#account_save").click(function () {
            var object = {}
            var vendor_ids_obj = $("input[name='vendor_id']")
            var vendor_passwords_obj = $("input[name='vendor_password']")
            var vendors_obj = $("select[name='vendor']")
            object['vendor_id'] = []
            object['vendor_password'] = []
            object['vendor'] = []
            for (var i = 0 ; i < vendor_ids_obj.length; i ++ ){
                object['vendor_id'].push(vendor_ids_obj.eq(i).val())
                object['vendor_password'].push(vendor_passwords_obj.eq(i).val())
                object['vendor'].push(vendors_obj.eq(i).val())
            }
            var json_str_obj = JSON.stringify(object)
            $.ajax({
                type : 'post',
                url: "{% url 'vendor_request' %}",
                beforeSend : function(xhr){
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                    xhr.setRequestHeader("Content-type","application/x-www-form-urlencoded");
                },
                data : json_str_obj,
                dataType : 'json',
                error: function(xhr, status, error){
                    alert(error);
                },
                success : function(json){
                    notify('success','계정 저장이 완료되었습니다.','');
                }
            });
            
        })

        $("#address_save").click(function (){
            var myAddressForm = $("#my_address")
            var formData = myAddressForm.serializeArray()
            var object = {}
            formData.forEach(function(value, key){
                object[value['name']] = value['value'];
            });

            var json_str_obj = JSON.stringify(object)
            $.ajax({
                type : 'put',
                url: "{% url 'update_address' %}",
                beforeSend : function(xhr){
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                    xhr.setRequestHeader("Content-type","application/x-www-form-urlencoded");
                },
                data : json_str_obj,
                dataType : 'json',
                error: function(xhr, status, error){
                    notify('error','주소 저장이 실패하였습니다.','');
                },
                success : function(json){
                    notify('success','주소 저장이 완료되었습니다.','');
                }
            });
        })

        $("#postcodify_search_button").postcodifyPopUp( {
            forceDisplayPostcode5 : true,
            insertPostcode5 : "#postcode",
            insertAddress : "#address",
            insertDetails : "#details",
            insertExtraInfo : "#extra_info",
            hideOldAddresses : false
        } );

        $('#add_vendor').click(function(){
			var row_str = ''
			row_str += '<form name="addressform">'
            row_str += '    <input type="hidden" name="type" value="new" >'
            row_str += '    <div class="row align-items-center">'
            row_str += '        <div class="col-3">'
            row_str += '            <select class="form-control" name="vendor">'
            row_str +=                 get_vendor_list(null)
            row_str += '            </select>'
            row_str += '        </div>'
            row_str += '        <div class="col-3">'
            row_str += '            <input type="text" class="form-control" name="vendor_id" placeholder="ID" value="">'
            row_str += '        </div>'
            row_str += '        <div class="col-3">'
            row_str += '            <input type="password" class="form-control" name="vendor_password" placeholder="password" value="">'
            row_str += '        </div>'
            row_str += '        <div class="col-2">'
            row_str += '            <button type="button" class="btn btn-primary form-control" onclick="changeAddress(this)">바꾸기</button>'
            row_str += '        </div>'
            row_str += '        <div class="col-1">'
            row_str += '            <button type="button" class="btn btn-danger form-control" onclick="deleteAddress(this)"><b>-</b></button>'
            row_str += '        </div>'
            row_str += '    </div>'
            row_str += '    <div class="tracking">'
            row_str += '        {% comment %} <div class="text-danger">message</div> {% endcomment %}'
            row_str += '        <span><span>'
            row_str += '    </div>'
            row_str += '</form>'

			var origin_html = $("#vendor_area").html()
			//console.log(origin_html)
			//console.log(row_str)
			//$("#vendor_area").html(origin_html + row_str)
            $("#vendor_area").append(row_str)
        })
    })

    function get_vendor_list(vendor_pk){
        var vendorList = {{ vendor_list|safe }}
        option_str = ''
        vendorList.forEach(element => {
            if ( vendor_pk == element.value ) {
                option_str += '<option value=' + element.value + ' selected=selected>' + element.key + '</option>'
            } else {
                option_str += '<option value=' + element.value + '>' + element.key + '</option>'
            }
        })
        return option_str
    }

    function initVendorRequest() {
        {% if request_vendor_list %}
        var requestVendorList = {{ request_vendor_list|safe }}
        {% else %}
        var requestVendorList = ""
        {% endif %}
        if(requestVendorList == ''){
            return 
        }
        var row_str = ""
        requestVendorList.forEach(element => {
            row_str += '<form name="addressform">'
            row_str += '    <input type="hidden" name="type" value="old" >'
            row_str += '    <div class="row align-items-center">'
            row_str += '        <div class="col-3">'
            row_str += '            <select class="form-control" name="vendor">'
            row_str +=                 get_vendor_list(element.fields.vendor_pk)
            row_str += '            </select>'
            row_str += '        </div>'
            row_str += '        <div class="col-3">'
            row_str += '            <input type="text" class="form-control" name="vendor_id" placeholder="ID" value="'+element.fields.vendor_id+'">'
            row_str += '        </div>'
            row_str += '        <div class="col-3">'
            row_str += '            <input type="password" class="form-control" name="vendor_password" placeholder="password" value="'+element.fields.vendor_password+'">'
            row_str += '        </div>'
            row_str += '        <div class="col-2">'
            row_str += '            <button type="button" class="btn btn-primary form-control" onclick="changeAddress(this)">바꾸기</button>'
            row_str += '        </div>'
            row_str += '        <div class="col-1">'
            row_str += '            <button type="button" class="btn btn-danger form-control" onclick="deleteAddress(this)"><b>-</b></button>'
            row_str += '        </div>'
            row_str += '    </div>'
            row_str += '    <div class="tracking">'
            row_str += '        {% comment %} <div class="text-danger">message</div> {% endcomment %}'
            row_str += '        <span><span>'
            row_str += '    </div>'
            row_str += '</form>'

        })
        {% comment %} var row_str = $("#vendor_area").html() {% endcomment %}
        $("#vendor_area").append(row_str)
    }

    function deleteAddress(obj){
        var objForm = obj.closest('form[name=addressform]')
        var addressFormList = $("form[name=addressform]")

        for(var i = 0; i < addressFormList.length; i ++){
            if (objForm == addressFormList[i]){
                formIndex = i
                break
            }
        }
        var object = {};
		var formData = addressFormList.eq(formIndex).serializeArray();
        formData.forEach(function(value, key){
            object[value['name']] = value['value'];
        });
        var json_str_obj = JSON.stringify(object)
        var type = object['type']
        if (type == "old"){
            $.ajax({
                    type : 'delete',
                    url: "{% url 'vendor_request' %}",
                    beforeSend : function(xhr){
                        xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                        xhr.setRequestHeader("Content-type","application/x-www-form-urlencoded");
                    },
                    data : json_str_obj,
                    dataType : 'json',
                    error: function(xhr, status, error){
                        notify('error','삭제 실패!!','');
                    },
                    success : function(json){
                        objForm.remove()
                    }
                });
        } else {
            objForm.remove()
        }
    }

	function changeAddress(obj){
        var socket = websoket()
        objForm = obj.closest('form[name=addressform]')
        formIndex = 0
        var addressFormList = $("form[name=addressform]")

        for(var i = 0; i < addressFormList.length; i ++){
            if (objForm == addressFormList[i]){
                formIndex = i
                break
            }
        }
        var object = {};
		var formData = addressFormList.eq(formIndex).serializeArray();
        formData.forEach(function(value, key){
            object[value['name']] = value['value'];
        });
        /*var postcode = $("#postcode").val()
        var address = $("#address").val()
        var details = $("#address_detail").val()
        var recipient = $("#recipient").val()
        var shipping_address = $("#shipping_address").val()
        var phone_number_head = $("#phone_number_head").val()
        var phone_number_middle = $("#phone_number_middle").val()
        var phone_number_tail = $("#phone_number_tail").val()*/

        object['postcode'] = $("#postcode").val()
        object['address'] = $("#address").val()
        object['address_detail'] = $("#address_detail").val()
        object['recipient'] = $("#recipient").val()
        object['shipping_address'] = $("#shipping_address").val()
        object['phone_number_head'] = $("#phone_number_head").val()
        object['phone_number_middle'] = $("#phone_number_middle").val()
        object['phone_number_tail'] = $("#phone_number_tail").val()
        //object['vendor'] = 'musinsa'
        object['index'] = formIndex
        json_str_obj = JSON.stringify({
            object
        })

        wsSend(socket, json_str_obj)
        // socket.send(json_str_obj);
	}

    function wsSend(wsSocket, message){
        waitForConnection(function () {
            wsSocket.send(message);
        }, wsSocket, 1000)
    }

    function waitForConnection (callback, wsSocket, interval){
        if (wsSocket.readyState === 1) {
            callback();
        } else {
            setTimeout(function () {
                waitForConnection(callback, wsSocket, interval);
            }, interval);
        }
    }


</script>
</html>


